<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="igakilab.mybatis.ProductMapper">
  <select id="selectFood" resultType="jp.igakilab.dwr.mybatis.Food">
    select name, price from food;
  </select>
</mapper>
